<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <title>Login Pge</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-info text-center">
    <div class="container-fluid text-center">
        <a class="navbar-brand" href="#">Home</a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/signup}">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page"  th:href="@{/login}">Login</a>
                </li>


            </ul>

        </div>
    </div>
</nav>
<div class="container mt-4">
    <div class="card">
        <div class="card-header text-center"><h2>Login Here</h2></div>

        <div th:if="${message}" class="alert alert-danger">
            [[${message}]]
        </div>
        <div class="card-body">
            <form th:action="@{/login}" method="post" th:object="${user}">
                <div class="form-group">
                    <label for="armyNumber">ArmyNumber</label>
                    <input type="number" name="id" class="form-control" th:field="*{army_number}" required />
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" name="password" class="form-control" th:field="*{password}" required />
                </div>
                <input class="btn btn-info text-center" type="submit" value="login">
            </form>
        </div>
    </div>
</div>
</body>
</html>